<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/acoount.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/eShop.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/140718bec8.js"></script>
</head>
<body>
    <!-- navbar -->
    <%-include('header.ejs')%>

    <section id="page-header" class="about-header">
     
        <h1>About us</h1>
  
        <p>blah blah blah blah</p>
      
      </section>

    <section id="about-head" class="section-p1">
        <img src="/images/carosel/about-head.png" alt="">
        <div>
            <h2> Who We Are ?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eius corrupti eveniet mollitia esse. Illo corrupti earum itaque quos tempora. Provident quod tempore dolor in et. Dolorem cumque dolore reprehenderit, est a nisi minus? Mollitia beatae neque incidunt voluptatibus! Voluptatum inventore sit ab, cum consequuntur beatae vel doloribus aliquam voluptas deleniti expedita enim similique. Consequuntur doloremque quasi, natus distinctio blanditiis culpa veniam? Odit voluptas officia nemo rerum vel magnam iure libero reiciendis fuga dolorum, quas sunt minima necessitatibus dicta distinctio ab pariatur eius tempora officiis voluptate? Nesciunt veritatis doloremque suscipit temporibus? Aliquid incidunt esse repellendus laborum accusamus voluptatibus assumenda temporibus!</p>
            
        </div>

    </section>

   

 
    <!-- footer -->
    <footer class="section-p1">
        <div class="col">
            <img class="logo1" id="logo1" src="/images/logo.png" alt="logo">
            <h4>Contact</h4>
            <p> <strong> Address :</strong> A32 Nachane Road,Salvi Stop, Ratnagiri</p>
            <p> <strong> Phone :</strong> +91 8237138622 / +91 8806506675</p>
            <p> <strong> Hours :</strong> 09:00 - 18:00, Monday - Friday</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-envelope-o"></i>
                    <i class="fa fa-youtube-play"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install"> 
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="/images/payment/app.jpg" alt="App Store">
                <img src="/images/payment/play.jpg" alt="google Store">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="/images/payment/pay.png" alt="payment">
        </div>

        <div class="copyright">
            <p>@ 2022, RMCET - Major Project by(19,51,52)</p>
        </div>

    </footer>

</body>
</html>