<section id="header">
   <a href="#"> <img id="logo1" src="/images/logo.png" alt="logo" /></a>

   <div>
     <ul id="navbar">
       <li><a href="/">Home</a></li>
       <li><a href="/shop">Shop</a></li>
       <li><a href="/blog">Blog</a></li>
       <li><a href="/roomplanner">Room-Planner</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/account">Account</a></li>
       <li><a href="/contact">Contact</a></li>
       <li id="lg-bag">
         <a href="/cart"
           ><i class="fa fa-shopping-bag" aria-hidden="true"></i
         ></a>
       </li>
       <a href="#" id="close"><i class="fa fa-times"></i></a>
     </ul>
   </div>
   <div id="mobile">
     <a href="/cart"
       ><i class="fa fa-shopping-bag" aria-hidden="true"></i
     ></a>
     <i id="bar" class="fa fa-outdent"></i>
   </div>
 </section>