#page-header h1{
    color: white;
}

#page-header .about-header{
    background-image: url(images/banner/b6.webp) !important;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

@media (max-width: 477px) {
    #about-head{
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
    }

    #about-head div{
        padding-left: 0px;
    }
}
